{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1 class="">
        {{ "fastOrder.fastOrderHeader"|trans|sw_sanitize }}
    </h1>

    <form method="post">

        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <div class="row p-2">
                        <div class="col-9">
                            Product
                        </div>

                        <div class="col-3">
                            Quantity
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for i in 1..5 %}
            <div class="row p-2">
                <div class="col-9">
                    <div class="input-group">
                        <label class="visually-hidden" for="addProductInput">
                            {{ "checkout.addProductLabel"|trans|sw_sanitize }}
                        </label>

                        <input type="text"
                               name="productId[]"
                               class="form-control"
                               id="item-number-{{ i }}"
                               placeholder="{{ "checkout.addProductPlaceholder"|trans|striptags }}"
                               aria-label="{{ "checkout.addProductLabel"|trans|striptags }}"
                               aria-describedby="addProductButton">
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group">
                        <label class="visually-hidden" for="addProductInput">
                            {{ "checkout.addProductLabel"|trans|sw_sanitize }}
                        </label>

                        <input type="text"
                               name="quantity[]"
                               class="form-control"
                               id="item-quantity-{{ i }}"
                               placeholder="{{ "checkout.addProductPlaceholder"|trans|striptags }}"
                               aria-label="{{ "checkout.addProductLabel"|trans|striptags }}"
                               aria-describedby="addProductButton">
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row p-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-secondary">Add Product</button>
            </div>
        </div>
    </form>
{% endblock %}
