{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <h1 class="">
        {{ "fastOrder.fastOrderHeader"|trans|sw_sanitize }}
    </h1>

    <form method="post">

        <div class="card">
            <div class="card-title">
                <div class="row p-2">
                    <div class="col-10">
                        {{ "fastOrder.productHeader"|trans|sw_sanitize }}
                    </div>
                    <div class="col-2">
                        {{ "fastOrder.quantityHeader"|trans|sw_sanitize }}
                    </div>
                </div>
            </div>

            <div class="card-body" id="fast-order-form-body">
                {% set n_rows = numInputProducts > 1 ? numInputProducts - 1 : 1 %}

                {% for i in 0..n_rows %}
                    <div class="row p-2">
                        <div class="col-10">
                            <div class="input-group">
                                <label class="visually-hidden">
                                    {{ "fastOrder.addProductLabel"|trans|sw_sanitize }}
                                </label>

                                <input type="text"
                                       class="form-control"
                                       name="productId[]"
                                       required
                                       value="{{ data.get('productId').get(i) }}"
                                       placeholder="{{ "fastOrder.addProductPlaceholder"|trans|striptags }}"
                                       aria-label="{{ "fastOrder.addProductLabel"|trans|striptags }}"
                                       aria-describedby="addProductButton">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="visually-hidden">
                                    {{ "fastOrder.addQuantityLabel"|trans|sw_sanitize }}
                                </label>

                                <input type="number"
                                       class="form-control"
                                       name="quantity[]"
                                       required
                                       value="{{ data.get('quantity').get(i) }}"
                                       placeholder="{{ "fastOrder.addQuantityPlaceholder"|trans|striptags }}"
                                       aria-label="{{ "fastOrder.addQuantityLabel"|trans|striptags }}"
                                       aria-describedby="addQuantityButton">
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="row p-2">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">{{ "fastOrder.submit"|trans|sw_sanitize }}</button>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-secondary" id="fast-order-add-line-btn">{{ "fastOrder.addProduct"|trans|sw_sanitize }}</button>
            </div>
        </div>
    </form>

    <template id="fast-order-row-template">
        <div class="row p-2">
            <div class="col-10">
                <div class="input-group">
                    <label class="visually-hidden">
                        {{ "fastOrder.addProductLabel"|trans|sw_sanitize }}
                    </label>

                    <input type="text"
                           class="form-control"
                           name="productId[]"
                           required
{#                           value="{{ data.get('productId').get(i) }}"#}
                           placeholder="{{ "fastOrder.addProductPlaceholder"|trans|striptags }}"
                           aria-label="{{ "fastOrder.addProductLabel"|trans|striptags }}"
                           aria-describedby="addProductButton">
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <label class="visually-hidden">
                        {{ "fastOrder.addQuantityLabel"|trans|sw_sanitize }}
                    </label>

                    <input type="number"
                           class="form-control"
                           name="quantity[]"
                           required
{#                           value="{{ data.get('quantity').get(i) }}"#}
                           placeholder="{{ "fastOrder.addQuantityPlaceholder"|trans|striptags }}"
                           aria-label="{{ "fastOrder.addQuantityLabel"|trans|striptags }}"
                           aria-describedby="addQuantityButton">
                </div>
            </div>
        </div>
    </template>
{% endblock %}
